/**
 * Author: Lee Langley
 * Date Created: 15/05/2012 10:32
 */

/** base styles **/
html{height:100%;}

body{
	min-height:100%;

	color:#fafafa;
	font-size:16px;
	font-family:Helvetica, Arial, sans-serif;

	background:#78AFE2;
	background-attachment:fixed;
	background-image:-o-linear-gradient(top, #97BEE5 0%, #78AFE2 50%);
	background-image:-moz-linear-gradient(top, #97BEE5 0%, #78AFE2 50%);
	background-image:-webkit-linear-gradient(top, #97BEE5 0%, #78AFE2 50%);
	background-image:-ms-linear-gradient(top, #97BEE5 0%, #78AFE2 50%);
	background-image:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #97BEE5),
		color-stop(0.5, #78AFE2)
	);
	background-image:linear-gradient(top, #97BEE5 0%, #78AFE2 50%);
}

h1,h2,h3,h4,h5,h6{
	text-shadow:1px 1px 2px #000;
}

h1{
	margin:10px 0;
	font-size:2.5em;
}

h2{
	margin:5px 0;
	font-size:2em;
}

a{
	color:#495263;
	text-decoration:underline;
}
a:hover,
a:focus{
	text-decoration:none;
}

.inner{
	margin:10px auto;
	width:90%;
}


/** wrapper/header **/
#wrapper{
	position:relative;
	z-index:999;
	width:3000px;
	min-height:100%;
}

#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#E7EAEB;
	box-shadow:0 5px 5px #444;
}

#header h1{
	display:inline;
	color:#495263;
	text-shadow:1px 1px 2px #fff;
}

#header nav{float:right;}


/** footer **/
#footer{
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	color:#444;
	font-size:0.8em;
	background:#E7EAEB;
}

#footer .copy{float:right;}


/** body content **/
#content{
	min-height:300px;
}

article{
	display:block;
	margin:600px auto;
	padding:20px;
	width:400px;
	background-color:rgba(228, 239, 248, 0.9);
	border-radius:12px;
	box-shadow:2px 2px 2px #444, 0px 2px 0px #fff inset;
}
article:first-child{
	margin-top:200px;
}

article.left{
	margin-left:0;
}
article.right{
	margin-right:0;
}
article.center{
	left:50%;
	margin-left:-200px;
}

article#theEnd{
	position:absolute;
	left:50%;
	margin:-250px 0 0 -200px;
}

article h2{margin-top:0;}

article p{
	color:#495263;
	line-height:150%;
}


/** parallax elements */
.parallax{
	position:fixed;
	top:0;
	left:0;
	z-index:0;
	width:100%;
	height:100%;
}

.cloud1{
	position:absolute;
	display:block;
	width:378px;
	height:247px;
	background:url('../images/cloud1.png') 0 0 no-repeat;
}

.cloud2{
	position:absolute;
	display:block;
	width:340px;
	height:231px;
	background:url('../images/cloud2.png') 0 0 no-repeat;
}

.horizon{
	position:absolute;
	top:1300px;
	left:0;
	width:100%;
	height:900px;

	background-color:transparent;
	background-image:-o-linear-gradient(top, rgba(120, 175, 226, 0) 17%, #6672BF 25%, #BE7364 44%, #D8714F 72%, #E8450F 100%);
	background-image:-moz-linear-gradient(top, rgba(120, 175, 226, 0) 17%, #6672BF 25%, #BE7364 44%, #D8714F 72%, #E8450F 100%);
	background-image:-webkit-linear-gradient(top, rgba(120, 175, 226, 0) 17%, #6672BF 25%, #BE7364 44%, #D8714F 72%, #E8450F 100%);
	background-image:-ms-linear-gradient(top, rgba(120, 175, 226, 0) 17%, #6672BF 25%, #BE7364 44%, #D8714F 72%, #E8450F 100%);
	background-image:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.17, rgba(120, 175, 226, 0)),
		color-stop(0.25, #6672BF),
		color-stop(0.44, #BE7364),
		color-stop(0.72, #D8714F),
		color-stop(1, #E8450F)
	);
	background-image:linear-gradient(top, rgba(120, 175, 226, 0) 20%, #6672BF 25%, #BE7364 44%, #D8714F 72%, #E8450F 100%);
}

.sun{
	position:absolute;
	top:10px;
	left:-600px;
	width:300px;
	height:300px;
	background:#EDA01B;

	background:-webkit-gradient(radial, 50% 50%, 40%, 50% 50%, 100, from(orange), color-stop(0.9, #fff), to(rgba(255, 255, 255, 0)));
	background:-moz-radial-gradient(50% 50%, circle, orange 40%, #fff 90%, rgba(255, 255, 255, 0) 100%);

	border-radius:50%;
	box-shadow:0 0 300px #FECB00;
}


.smallHill{
	position:absolute;
	top:3900px;
	left:50%;
	width:100%;
	height:400px;
	background:#43CD53;
	border-radius:50%;
	box-shadow:0 0 5px #21942C;
}

.hill{
	position:absolute;
	top:3500px;
	right:0;
	width:55%;
	height:600px;
	background:#43CD53;
	border-radius:90% 0 0 0;
	box-shadow:0 0 5px #21942C;
}
.hill.left{
	right:auto;
	left:0;
	border-radius:0 90% 0 0;
}

.sheep{
	position:absolute;
	top:3600px;
	right:-20px;
	width:45%;
	min-width:325px;
	max-width:567px;
	height:428px;
	background:url('../images/sheep.png') 0 0 repeat;
	border-radius:20%;
}
.sheep.left{
	right:auto;
	left:-30px;
}

.grass{
	position:absolute;
	top:4000px;
	left:0;
	width:100%;
	height:600px;
	background:#43CD53;
	box-shadow:5px -5px 20px #43CD53;
}

.forest{
	position:absolute;
	top:7425px;
	left:0;
	width:100%;
	min-width:3000px;
	height:460px;
	background:url('../images/forest.png') 0 0 repeat;
}

.forest.foreground{
	top:3200px;
	background-image:url('../images/forest-foreground.png');
}
.forest.bottom{
	top:7700px;
}


.fadeIn{
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-75px;
	margin-left:-250px;
	padding:10px;
	width:480px;
	height:130px;
	color:#ddd;
	background:#000;
	border-radius:12px;
	opacity:0.5;
	overflow:hidden;
}